body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background-color: #EB7F02;
  color: #fff;
  border: 0;
  border-radius: 15px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0 0 1em;
  padding-top: 1em;
}

main {
  box-sizing: border-box;
  width: 100%;
}










  