.filters {
  background-color: white;
  border-radius: 30px;
  padding: 1em;
  display: table;
  margin: 0 auto 2em;
}

.loading-container, .loading {
  margin: auto;
  display: block;
  width: 100%;
}

.loading-container {
  background-color: white;
  border-radius: 30px;
}