.recipe-card {
  position: relative;
  margin: auto;
  height: 300px;
  margin-bottom: 2em;
  border-radius: 15px;
  
  img {
    border-radius: 15px;
  }
  
  .recipe-writing {
    position: absolute;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    padding: 0 0.4em;
    padding-top: 3em;
  }

  button {
    position: absolute;
    height: 40px;
    width: 100px;
    right: 0.4em;
    bottom: 0.4em;
    border: 0;
    background-color: #EB7F02;
    color: #fff;
  }
}