.recipe-card {
    width: 80%;
    // padding: 10px;
    position: relative;
    border: 1px solid pink;
    // img {
    //     // position: relative
    //     // z-index: -1;
    // }
    .recipe-writing {
        position: absolute;
        background-color: rgb(255, 255, 255, 0.2);
        z-index: 1;
        display: flex;
        width: 100%;
        border: 1px solid red;
        justify-content: space-between;

    }
}