.single-recipe-wrapper {
  background-color: #fff;
  max-width: 900px;
  border-radius: 30px;
  margin-bottom: 2em;
  padding-bottom: 2em;

  .back-button {
    position: relative;
    left: 1em;
    top: 1em;
  }

  img {
    border-radius: 15px;
  }
  
  .full-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-details {
    display: flex;
    justify-content: space-evenly;
  }

  span {
    font-weight: bold;
  }

  .button-container {
    position: relative;
    padding-bottom: 3em;
  }

  .see-full-recipe-button {
    position: absolute;
    margin-right: 1em;
    right: 1em;
  }
}
