.single-recipe-wrapper {
  background-color: #fff;
  max-width: 1000px;
  border-radius: 30px;

  img {
    border-radius: 15px;
  }

  .recipe-details {
    display: flex;
    justify-content: space-evenly;
  }

  span {
    font-weight: bold;
  }
}
