$breakpoints: (
  narrow: 360px,
  small: 480px,
  tablet: 650px,
  medium: 720px,
  large: 960px,
  x-large: 1050px,
  wide: 1200px,
  x-wide: 1350px,
  wider: 1500px,
  widest: 1650px
);

$primary-color: #EB7F02;

